:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.Button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1.6em 12.2em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.Flex {
  display: flex;
  gap: 2em;
  /* justify-content: space-between; */
}

.Text-left{
  text-align: left;
}

.Delivery-status{
  background-color: cadetblue;
  padding: 0.3em;
  border-radius: 2px;
  color: white;
  font-weight: bold;
}

.Active{
  background-color: cadetblue;
  color: white;
}

.Flex-col{
  flex-direction: column;
}

.Flex-justify{
   justify-content: space-between;
}

